.vscode

# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep

!web/app/mu-plugins/cominst-config

# we keep wp super cache in the repository for now because of 
# a modification made that is related to: https://github.com/aaltomeri/cominst.com/issues/6s
!web/app/plugins/wp-super-cache

# we keep wp migrate db pro because we have not renewed the license
# and composer update will choke on this
!web/app/plugins/wp-migrate-db-pro

# custom plugin for editing block quotes
!web/app/plugins/better-blockquotes


# WordPress
web/wp
web/.htaccess

# Dotenv
.env
.env.*
!.env.example

# Composer
vendor/*
!vendor/.gitkeep
/web/app/themes/foxhound
/cominst_local.sql
/web/app/debug.log
*.sql
/web/app/cache
/web/app/advanced-cache.php
/redirects.txt
/web/app/wp-cache-config.php
web/google*.html
/web/app/wflogs
/web/app/updraft
