@import url('https://fonts.googleapis.com/css?family=Amiko:400,600,700|Merriweather:400,400i,700');

@mixin hide-from-user {
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}

// hide server side generated content
#ssr {
  @include hide-from-user;
}

body {
  background-color: $color-white-01;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $font-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-sans-serif;
  font-weight: 600;
}

nav,
.nav {
  font-family: $font-sans-serif;
  font-weight: 600;
  font-size: 0.875rem;
  text-transform: uppercase;
}

p,
ul {
  font-size: 0.9375rem;
  line-height: 1.625;
}

ul {
  list-style: none;
  padding: 0;
}
