/** COLORS */
$color-white-01: #fff;

$color-blue-dark-01: #008ec0;
$color-blue-dark-02: #12456b;
$color-blue-dark-03: #0e3e66;
$color-blue-dark-04: #0b3761;

$color-blue-light-01: #c0e4f2;
$color-blue-light-02: #f5fafc;
$color-blue-light-03: #caf0fc;

$color-gray-light-01: #d4e5eb;
$color-gray-light-02: #e3e3e3;
$color-gray-light-03: #c9c9c9;

$color-gray-dark-01: #4d4d4d;
$color-gray-dark-02: #666;
$color-gray-dark-03: #333;
$color-gray-dark-04: #808080;

$color-brand-primary: $color-blue-dark-01;

/** FONTS */
$font-serif: MerriWeather, 'Times New Roman', Times, serif;
$font-sans-serif: Amiko, Arial, Helvetica, sans-serif;

