.content-container {

  padding: 3.125rem 0;

  h2 {
    font-size: 1.625rem;
    line-height: 2.125rem;
    font-weight: normal;
    color: $color-gray-dark-01;
    padding-bottom: 1.875rem;
    border-bottom: 1px solid $color-gray-dark-01;
  }

  h3 {
    font-size: 1.5rem;
    line-height: 1.875rem;
    font-weight: 600;
    color: $color-blue-dark-01;
  }

  h4 {
    font-size: 1.325rem;
    font-weight: 600;
    color: $color-blue-dark-01;
  }

  h4.subtitle {
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: $color-gray-dark-01;
  }

  h3 + h4 {
    margin-top: -6px;
  }

  .image {
    img {
      max-width: 100%;
      height: auto;
    }
  }

  .sidebar {
    padding-right: 3.125rem;

    .nav,
    .links {
      margin-top: 3.125rem;
    }
  }

  .nav {
    flex-direction: column;

    .item {
      padding: 10px;

      border-bottom: solid 1px $color-gray-light-03;

      background-image: linear-gradient(to right, #49b9fa, #49b9fa);
      background-repeat: no-repeat;
      background-size: 0% 100%;
      transition: background-size 0.5s cubic-bezier(0, 0.795, 0, 1);

      color: $color-gray-dark-02;

      cursor: pointer;

      a {
        color: inherit;
      }

      &.active {
        color: $color-blue-light-03;
        background-size: 100% 100%;
        transition: background-size 0.3s ease-in;
      }
    }
  }

  .child-content-container {
    position: relative;
    overflow: hidden;
    transition: height 0.4s ease-out;

    margin-bottom: 2rem;

    .header {
      margin-bottom: 1.5rem;
    }

    .content {
      &::after {
        content: "";
        position: absolute;
        width: 50%;
      }
    }

    .actions {
      position: relative;
      text-align: right;
      min-height: 30px;

      &::before {
        content: "";
        position: absolute;
        width: 50%;
        left: 0;
        height: 50%;
        border-bottom: solid 1px $color-gray-dark-01;
      }

      .expand-button {
        #vertical-line {
          transform: scaleY(0);
          transform-origin: 0;
          transition: transform 0.4s ease-in;
        }
      }

      .collapsed {
        .expand-button {
          #vertical-line {
            transform: scaleY(1);
          }
        }
      }
    }
  }
}

/** Home **/

.content-container-home {
  position: absolute;
  // on larger screens we don't want the content box to be too low
  @include media-breakpoint-up(lg) {
    top: 57%;
  }
  bottom: 0;
  background-color: $color-white-01;

  text-align: center;

  padding: 45px 7%;
  // as the container becomes wider we need larger margins
  @include media-breakpoint-up(lg) {
    padding: 70px 15% 45px;
  }

  h1 {
    font-size: 1.6875rem;
    font-weight: normal;
    color: $color-brand-primary;
  }

  h2 {
    font-size: 1.125rem;
    line-height: 1.6875rem;
    font-weight: 600;
    color: $color-gray-dark-01;
  }

  h3 {
    font-size: 1rem;
    line-height: 1.625rem;
    font-weight: normal;
    color: $color-gray-dark-01;
  }
}

/** Pages & sidebar navigation */
.content-container-pages-and-sidebar-navigation {
  .pages {
    .image {
      img {
        width: 100%;
      }
    }
  }
}

/** Pages & sidebar links */
.content-container-pages-and-sidebar-links {
  .links {
    font-family: $font-sans-serif;

    .item {
      margin-bottom: 2rem;

      a {
        font-weight: 600;
      }
    }
  }

  .page-content {
    position: relative;

    font-family: $font-sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: $color-gray-dark-01;

    padding-bottom: 1rem;
    margin-bottom: 2.5rem;

    p {
      font-size: inherit;
      line-height: inherit;
    }

    > p:last-child {
      padding-bottom: 1rem;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      width: 50%;
      border-bottom: 1px solid $color-gray-dark-01;
    }
  }
}

/* List & Modal */
.content-container-list-and-modal {
  .items {
    position: relative;
    overflow: hidden;
    column-count: 3;
    column-gap: 10px;
    transition: height 0.4s cubic-bezier(0, 0.795, 0, 1);

    .item {
      color: blue;
      list-style: none;
    }
  }

  .sub-items-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: #d29bff;
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 0.4s ease-out, transform 0.4s ease-in-out;

    .button-close {
      position: absolute;
      z-index: 1;
      background-color: #45ca11;
      top: 1rem;
      right: 1rem;
      cursor: default;
    }
  }

  .item.active {
    .sub-items-container {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

/** Carousel **/
.content-container-carousel {
  overflow: hidden;

  .image {
    opacity: 1;
    transition: opacity 1s ease-out;

    &.hidden {
      opacity: 0;
      transition: opacity 0.4s ease-in;
    }
  }
}
