.content-container {
  background-color: #9bf3ff;
  padding: 1rem;
}

/* List & Modal */
.content-container-list-and-modal {
  .items {
    position: relative;
    overflow: hidden;
    column-count: 3;
    column-gap: 10px;
    transition: height 0.4s ease-out;

    .item {
      color: blue;
      list-style: none;
    }
  }

  .image img {
    max-width: 100%;
    height: auto;
  }

  .sub-items-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: #d29bff;
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 0.4s ease-out, transform 0.4s ease-in-out;

    .button-close {
      position: absolute;
      z-index: 1;
      background-color: #45ca11;
      top: 1rem;
      right: 1rem;
      cursor: default;
    }
  }

  .item.active {
    .sub-items-container {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
