.content-container {

  padding: 3.125rem 0;

  h2 {
    font-size: 1.3125rem;
    line-height: 1.725rem;
    font-weight: 600;
    text-transform: uppercase;
    color: $color-gray-dark-01;
    padding-bottom: 1rem;
    border-bottom: 1px solid $color-gray-dark-01;
  }

  h3 {
    font-size: 1.5rem;
    line-height: 1.875rem;
    font-weight: 600;
    color: $color-blue-dark-01;
  }

  h4 {
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.75rem;
    color: $color-gray-dark-01;
  }

  .content {
    h5 {
      font-size: 1rem;
      line-height: 1.5rem;
      font-weight: bold;
      color: $color-gray-dark-01;
    }

    h6 {
      font-size: 0.9375rem;
      line-height: 1.3;
    }

    ul,
    p {
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  h3 + h4 {
    margin-top: -6px;
  }

  .image {
    img {
      max-width: 100%;
      height: auto;
    }
  }

  .sidebar {
    @include media-breakpoint-up(md) {
      padding-right: 3.125rem;
    }
    // should not be a pb on desktop
    margin-bottom: 2rem;
  }

  .nav,
  .links,
  .items {
    margin-top: 1.5rem;

    @include media-breakpoint-up(md) {
      margin-top: 1.3125rem;
    }
  }

  .nav,
  .items {
    flex-direction: column;

    .item {
      > a {
        display: block;
        padding: 10px;

        border-bottom: solid 1px $color-gray-light-03;

        background-image: linear-gradient(to right, $color-blue-dark-01, $color-blue-dark-01);
        background-repeat: no-repeat;
        background-size: 0% 100%;
        transition:
          background-size 0.5s ease-in,
          padding 0.3s ease-out,
          color 0.7s ease-in;

        color: $color-gray-dark-02;

        cursor: pointer;

        a {
          color: inherit;
        }

        &.active,
        &:hover {
          color: $color-blue-light-03;
          background-size: 100% 100%;
          padding-left: 1rem;
          transition:
            background-size 0.3s ease-in,
            padding 0.3s ease-out,
            color 0.3s ease-out;

          a {
            transform: translateX(1rem);
          }
        }
      }
    }
  }

  .page-content {
    position: relative;

    font-family: $font-sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: $color-gray-dark-01;

    padding-bottom: 0;
    margin-bottom: 2.5rem;

    p {
      font-size: inherit;
      line-height: inherit;
    }

    > p:last-child {
      padding-bottom: 1.375rem;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%; // calc(100% - 45px);
      border-bottom: 1px solid $color-gray-light-02;
    }
  }

  .child-content-container {
    position: relative;
    overflow: hidden;
    transition: height 0.4s ease-out;

    margin-bottom: 1rem; // 0.375rem;

    .header {
      margin-bottom: 0.6875rem;
    }

    .content {
      /* &::after {
        content: "";
        position: absolute;
        width: 50%;
      } */

      ul {
        margin-left: 1rem;

        li {
          margin-bottom: 0.4rem;
          font-size: 0.875rem;

          &::before {
            content: " — ";
            margin-left: -1rem;
          }
        }
      }
    }

    .actions {
      position: relative;
      text-align: right;
      min-height: 30px;

      margin-top: 1.25rem;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        top: -3px;
        left: 0;
        height: 50%;
        border-bottom: solid 1px $color-gray-light-02;
      }

      &.has-more-content {
        &::before {
          width: calc(100% - 45px);
        }
      }

      .expand-button {
        #vertical-line {
          transform: scaleY(0);
          transform-origin: 0;
          transition: transform 0.4s ease-in;
        }
      }

      .collapsed {
        .expand-button {
          #vertical-line {
            transform: scaleY(1);
          }
        }
      }
    }
  }
}

/** Home **/

.content-container-home {
  position: absolute;

  // this is a bootstrap .container
  // inside another .container
  // left ppty is not specified so it is positioned where we want but we need to move it back a little
  // because of the parent container padding
  margin-left: -($grid-gutter-width / 2);
  // on larger screens we don't want the content box to be too low
  @include media-breakpoint-up(lg) {
    // top: 57%;
  }
  bottom: -1px;
  background-color: $color-white-01;

  text-align: center;

  padding: 40px 7%;

  h1 {
    font-size: 1.375rem;
    font-weight: normal;
    color: $color-brand-primary;
  }

  h2 {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
    text-transform: initial;
    color: $color-gray-dark-01;
    // reset
    padding: 0;
    border: none;
  }

  h3 {
    font-size: 0.825rem;
    line-height: 1.25rem;
    font-weight: normal;
    color: $color-gray-dark-01;
  }

  @include media-breakpoint-up(md) {
    padding: 40px 7%;

    h1 {
      font-size: 1.6875rem;
    }

    h2 {
      font-size: 1.125rem;
      line-height: 1.6875rem;
    }

    h3 {
      font-size: 1rem;
      line-height: 1.625rem;
    }
  }

  // as the container becomes wider we need larger margins
  @include media-breakpoint-up(lg) {
    padding: 60px 5% 45px;
  }

  .scroll-hint {
    position: absolute;
    bottom: 7%;
    text-align: center;
    left: 0;
    right: 0;

    @include media-breakpoint-up(md) {
      bottom: 7%;
    }
  }
}

/** Pages & sidebar navigation */
.content-container-pages-and-sidebar-navigation {
  .pages {
    .image {
      img {
        width: 100%;
      }
    }

    .actions {
      margin-top: 0.5rem;
    }
  }
}

/** Pages & sidebar links */
.content-container-pages-and-sidebar-links {
  .links {
    font-family: $font-sans-serif;
    margin-bottom: 2rem;

    .item {
      margin-bottom: 0.5rem;

      @include media-breakpoint-up(md) {
        top: 2rem;
      }

      a {
        font-weight: 600;
      }
    }
  }

  .images {
    width: 95%;

    .item {
      padding-bottom: 0.5rem;
      margin-bottom: 1rem;
      border-bottom: solid 1px $color-gray-light-02;

      &:last-child {
        border-bottom: none;
      }

      .title {
        font-family: $font-sans-serif;
        font-weight: 600;
        margin-bottom: 0.6rem;
        display: block;
      }

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .sidebar .links,
  .sidebar .images {
    display: none;

    @include media-breakpoint-up(md) {
      display: block;
    }
  }

  .col.mobile {
    margin-top: -2rem;
  }

  .mobile .links,
  .mobile .images {
    display: block;

    @include media-breakpoint-up(md) {
      display: none;
    }
  }
}

/* List & Modal */
.content-container-list-and-modal {
  .list-header {
    text-align: center;
  }

  .items {
    position: relative;
    overflow: hidden;
    padding: 1px 0;
    columns: 3 300px;
    column-gap: 2rem;
    transition: height 0.4s cubic-bezier(0, 0.795, 0, 1);

    .item {
      break-inside: avoid;
      display: block;
      font-size: 0.875rem;
      font-family: $font-sans-serif;
      font-weight: 600;
      color: $color-gray-dark-02;
      text-transform: uppercase;
      list-style: none;
      border-top: solid 1px $color-gray-light-04;
      margin-top: -1px;

      a {
        color: inherit;
      }
    }
  }

  .sub-items-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    padding: 0;

    @include media-breakpoint-up(md) {
      padding: 2rem;
    }

    .list {
      padding: 1rem 1rem 1rem 1.5rem;

      ul {
        margin-left: 1.25rem;
      }
    }

    color: $color-gray-dark-01;
    background-color: $color-blue-light-04;
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 1s ease-out, transform 0.4s ease-in-out;

    h4 {
      color: $color-blue-dark-01;
      font-weight: bold;
      font-size: 1.125rem;
    }

    li {
      margin-bottom: 0.2rem;
      font-size: 0.9375rem;
      text-transform: initial;
      margin-left: -1px;

      &::before {
        content: " — ";
        margin-left: -1.2rem;
      }
    }

    .button-close {
      position: absolute;
      z-index: 1;
      top: 1rem;
      right: 1rem;
      cursor: default;
    }
  }

  .item.active {
    .sub-items-container {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

/** Carousel **/

// will be used for reducing carousel center panel width
$content-container-carousel-max-widths: (
  sm: 540px,
  md: 600px,
  lg: 840px,
  xl: 1020px
);

.content-container-carousel {
  overflow: hidden;
  padding: 0;

  display: flex;
  justify-content: center;
  min-height: 100vh;

  p {
    font-size: 0.9rem;
  }

  .image {
    opacity: 1;
    transition: opacity 1s ease-out;
    width: 100%;

    margin-bottom: 1rem;

    &.hidden {
      opacity: 0;
      transition: opacity 0.4s ease-in;
    }
  }

  // we need to reduce the center in width to show navigation at all times
  // even when we reach the next lower breakpoint
  .carousel-center-panel {
    @include make-container-max-widths($content-container-carousel-max-widths);
  }

  .child-content-container {

    // reset rules from generic .child-content-container
    overflow: visible;
    transition: height 0 linear;
    margin-bottom: 1rem; // at least - necessary to make bottom deco line appear below slide content

    position: relative;
    padding-right: 1rem;

    @include media-breakpoint-up(sm) {
      padding-right: 3.75rem;
    }

    @include media-breakpoint-up(sm) {
      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 40%;
        border-bottom: solid 1px $color-black-01;
        transform: scaleX(1);
        transition: transform 0.3s ease-out;
      }

      &::before {
        top: -2rem;
        left: 0;
        transform-origin: 0 0;
      }

      &::after {
        bottom: -2.5rem;
        right: 3.75rem;
        transform-origin: 100% 0;
      }
    }

    .header {
      @include media-breakpoint-down(sm) {
        margin-bottom: 0;
      }
    }

    .content {
      position: relative;
    }
  }

  .content-full-width {
    padding: 1rem;

    @include media-breakpoint-up(sm) {
      padding: 0 3.75rem;
    }

    &::before {
      left: 3.75rem;
    }
  }

  .carousel-center-panel {
    flex: 1 0 auto;
    margin: 0;

    @include media-breakpoint-up(sm) {
      padding: 3.75rem 0;
    }

    &.sliding {
      .child-content-container {
        &::before,
        &::after {
          transform: scaleX(0);
          transition: transform 0s linear;
        }
      }
    }

    // make up for vertical space inside the swipe container
    // because we need to show the deco lines placed inside .content
    // which would be hidden otherwise - because of the swipe-container > div overflow
    .react-swipe-container {
      > div {
        @include media-breakpoint-up(sm) {
          padding: 2.5rem 0;
        }
      }
    }
  }

  .carousel-side-panel {
    padding: 6.25rem 0;
  }

  .carousel-side-panel {
    position: relative;
    display: flex;
    align-items: flex-start;

    flex: 1 0 auto;

    &.carousel-side-panel-left {
      justify-content: flex-end;
    }

    .button-navigation {
      padding: 150px 1rem 0;

      svg g {
        stroke: $color-black-01;
      }
    }

    .button-navigation-left {
      order: 2;
    }

    .image {
      width: 230px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      // try to fix panel not expanding enough dwnwrd on IE10
      min-height: 100vh;
      background-color: #000;
      opacity: 0.4;
    }
  }

  .navigation-mobile {
    padding: 1rem;
    font-size: 3rem;

    @include media-breakpoint-up(sm) {
      display: none;
    }
  }
}

/** Archive **/

.content-container-archive {
  .sidebar {
    .header {
      position: relative;

      .spinner {
        position: absolute;
        top: -10px;
        right: 0;
        color: $color-brand-primary;
        font-size: 2rem;
      }
    }
  }

  .content {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background-color: $color-white-01;
      z-index: -1;
      opacity: 0;
      width: 100%;
      height: 100%;
      transition: opacity 0.2s ease-out;
    }

    &.is-fetching {
      &::before {
        z-index: 1;
        opacity: 0.8;
        transition: opacity 1s ease-out;
      }
    }
  }

  .post {
    .header {
      margin-bottom: 1rem;
      color: $color-gray-dark-02;

      .meta-data {
        margin-bottom: 1rem;

        font-family: $font-sans-serif;
        font-size: 0.6875rem;
        text-transform: uppercase;

        .category {
          font-weight: bold;
          color: $color-blue-dark-01;
          margin-right: 0.4rem;
        }

        .meta-data-media {
          font-style: italic;
        }
      }

      .title {
        color: $color-gray-dark-02;
      }
    }

    .content {
      margin-bottom: 1rem;
    }
  }
}

/** Footer **/

.content-container-footer {
  font-family: $font-sans-serif;
  font-size: 0.87rem;
  line-height: 1.5625;

  @include media-breakpoint-down(sm) {
    padding-top: 1rem;
  }

  padding-bottom: 2rem;

  p,
  ul {
    font-size: inherit;
    line-height: inherit;
  }

  .map-container {
    > * {
      width: 100%;

      @include media-breakpoint-down(md) {
        height: 230px;
      }
    }
  }

  .block {
    margin-bottom: 2rem;

    @include media-breakpoint-up(sm) {
      margin-bottom: 1.5rem;
    }
  }

  .block h3 {
    font-size: 1rem;
    font-weight: normal;
    text-transform: uppercase;
    color: $color-blue-dark-01;
  }

  .block .link-email {
    background-color: $color-blue-dark-03;
    // border: 1px #e3e3e3 solid;
    padding: 0.8rem 1rem 0.6rem;
    border-radius: 4px;
    text-transform: uppercase;
    font-weight: 600;

    transition:
      color 0.3s ease-out,
      background-color 0.3s ease-out;

    &:hover {
      background-color: $color-blue-dark-04;
      color: $color-white-01;
    }

    &::before {
      font-size: 22px;
      top: 2px;
      margin-right: 0.6rem;
    }
  }

  .social-networks {
    display: flex;

    .item {
      margin-right: 1rem;
    }

    .icon {
      font-size: 2rem;
    }
  }

  .block-newsletters-container {
    .form-container {
      background-color: $color-blue-dark-03;
      padding: 10px;
      height: 64px;

      form {
        height: 100%;
        font-size: 0.75rem;
        font-family: $font-sans-serif;
        font-weight: 600;

        input {
          height: 100%;
          border: none;
          border-radius: 0;
          text-transform: uppercase;
          color: $color-blue-light-03;

          &::placeholder {
            color: $color-blue-light-03;
          }

          &[type="text"],
          &[type="email"] {
            width: calc(100% - 85px);
            padding-left: 0.8rem;
            padding-top: 5px;
            background-color: transparent;
          }
        }

        button[type="submit"],
        input[type="submit"] {
          background-color: $color-blue-dark-04;
          width: 85px;
        }

        .message {
          margin-top: 1rem;
        }
      }
    }
  }

  .content {
    margin-bottom: 2rem;
  }

  .signature {
    text-align: center;
  }

  .col-left {
    display: none;

    @include media-breakpoint-up(md) {
      display: block;
      padding-right: 4rem;
    }
  }

  .col-right {
    .map-container {
      display: block;

      @include media-breakpoint-up(md) {
        display: none;
      }
    }
  }
}
