ul.lang-switcher {
  display: inline-flex;
  justify-content: flex-end;
  font-size: 0.6875rem;
  text-transform: uppercase;
  color: $color-gray-dark-02;

  a {
    color: inherit;
  }

  li {
    display: inline-block;
    list-style: none;

    &::after {
      content: " | ";
    }

    &:last-child::after {
      content: "";
    }

    &.active {
      color: $color-blue-dark-01;
    }
  }
}
