header {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1;

  .title {
    @include hide-from-user;
  }
}

nav {
  padding-bottom: 20px;

  a {
    display: inline-block;
    padding: 0 10px;
    border-right: solid 4px #0095af;

    &.active {
      color: red;
    }
  }
}
