header {
  /* @include media-breakpoint-down(md) {
    height: auto !important;
  } */

  transition: background-color 0.5s ease-out, height 0.5s ease-out;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0 -2px 10px 2px $color-gray-dark-01;
  z-index: 9999;

  padding: 6px 0;

  @include media-breakpoint-up(sm) {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: none;
    padding: 34px 0 17px;
  }

  > .container {
    position: relative;

    > .row {
      // this is to fix the lang switcher column (right column)
      // of the header to wrap on IE 10 & 11
      // this should not happen but I did not find how to prevent it
      // so the hack which does not seem to have side effects
      flex-wrap: nowrap;
    }
  }

  .row:first-of-type {
    // vertically center elements inside row
    // align-items: baseline;

    // margin-bottom: 1rem;

    .col-left {
      text-align: center !important;

      @include media-breakpoint-up(sm) {
        text-align: left;
      }

      .brand-logo {
        display: block;
        position: relative;
        margin-bottom: 1rem;
        opacity: 1;

        @include media-breakpoint-up(sm) {
          position: absolute;
          opacity: 0;
        }

        transition: opacity 0.5s ease-out;

        img {
          height: 40px;
        }
      }
    }

    .col-center {
      display: flex;
      flex-direction: column;
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      z-index: 9999;
      background-color: $color-white-01;
      transition: transform 0.3s ease-out;

      // reset bootstrap column rule
      max-width: none;

      /*  @include media-breakpoint-down(md) {
        padding: 1rem 0;
      } */

      @include media-breakpoint-up(sm) {
        display: block;
        position: relative;
        height: auto;
        background-color: transparent;
        transform: translateY(0);
      }

      .brand-logo {
        display: none;

        @include media-breakpoint-up(sm) {
          position: relative;
          display: block;
        }
      }

      // mobile blocks above and below menu
      .mobile-menu-button,
      .lang-switcher-container {
        padding-top: 15px;
        padding-bottom: 15px;
      }
    }

    .col-right {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 6666;
      width: auto;

      @include media-breakpoint-up(sm) {
        position: relative;
      }

      .lang-switcher {
        display: none;

        // hack to not break on smaller screens
        position: absolute;
        width: 400px;
        right: 0;

        @include media-breakpoint-up(sm) {
          display: block;
        }
      }
    }
  }

  .title {
    @include hide-from-user;
  }

  .site-description,
  .lang-switcher {
    margin-top: 10px;
  }

  .site-description {
    font-size: 1rem;
    line-height: 1.25rem;
    // color: $color-brand-primary;
    color: $color-gray-dark-04;
    text-transform: uppercase;
    transition: opacity 0.2s ease-in;

    // hack to make the description overflow its container
    @include media-breakpoint-up(sm) {
      position: absolute;
      text-align: left;
      top: 0;
      width: 1000px;
    }

    @include media-breakpoint-down(md) {
      width: auto;
    }
  }

  .brand-logo {

    position: relative;
    z-index: 1;
    transition:
      opacity 0.3s ease-out,
      transform 0.3s ease-out;

    @include media-breakpoint-up(sm) {
      img {
        position: relative;
        top: -14px;
        transition: height 0.3s ease-out;
      }
    }
  }

  .nav-container {
    position: relative;
    transition: transform 0.4s ease-out;

    @include media-breakpoint-up(md) {
      margin-top: 10px;
    }

    @include media-breakpoint-down(md) {
      width: 90%;
      margin: auto;
    }
  }

  a.contact {
    color: #808080;
  }
}

nav {
  a {
    display: block;
    padding: 1rem 0;
    border-top: solid 1px $color-gray-light-03;
    border-bottom: solid 1px $color-gray-light-03;
    margin-top: -1px;

    @include media-breakpoint-up(sm) {
      display: inline-block;
      padding: 0 10px;
      border: none;
      margin-top: 0;
      margin-bottom: 6px;
    }

    // color: $color-gray-dark-04;
    color: $color-brand-primary;

    &:hover,
    &.active {
      text-decoration: none;
      // color: $color-brand-primary;
      color: $color-blue-dark-03;
    }
  }
}

header.mobile-menu-hidden {
  .col-center {
    transform: translateY(-100%);
    transition: transform 2s ease-out;
  }
}

.mobile-menu-button {
  text-align: right;
  font-size: 1.125rem;

  font-size: 1.4rem;
  padding-top: 0.5rem;

  @include media-breakpoint-up(sm) {
    display: none;
  }
}

header.collapsed {
  @include media-breakpoint-up(sm) {
    background-color: rgba(255, 255, 255, 1);
    padding: 6px 0 16px;
    box-shadow: 0 -2px 10px 2px $color-gray-dark-01;

    .row:first-of-type {
      .col-left {
        .brand-logo {
          position: relative;
          opacity: 1;

          img {
            top: 0;
          }
        }

        .site-description {
          opacity: 0;
          position: absolute;
          top: 0;
        }
      }

      .col-center {
        .brand-logo {
          opacity: 0;
          transform: translateY(-50px);
          // position: absolute;
          // top: 0;
        }
      }
    }

    .nav-container {
      transform: translateY(-39px);
    }
  }
}
