section {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;

  &.light {
    background-color: $color-blue-light-02;
  }

  &.dark {
    background-color: $color-blue-dark-02;
    color: $color-gray-light-01;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $color-blue-light-01;
    }

    p,
    ul {
      color: $color-gray-light-01;
    }
  }
}
