section {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;

  @include media-breakpoint-up(sm) {
    min-height: 100vh;
  }

  /* .scroll-hint {
    position: absolute;
    bottom: 3%;
    width: 100%;
    text-align: center;
  } */

  // we need the home section bg picture to focus on what's interesting at all times
  &#home {
    height: 100vh;
    background-position: top 30% left 0;

    @include media-breakpoint-down(sm) {
      background-position: top 50% left -70px;
    }
  }

  &#contact {
    min-height: 91vh;
  }

  /** Color themes */

  &.light {
    background-color: $color-blue-light-02;
  }

  &.dark {
    background-color: $color-blue-dark-02;
    color: $color-gray-light-01;

    a {
      color: $color-gray-light-02;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $color-blue-light-01;
    }

    h4.subtitle {
      color: $color-blue-dark-01;
    }

    p,
    ul {
      color: $color-gray-light-01;
    }
  }
}
