section {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;

  background-position: center;

  background-blend-mode: multiply;

  &#nos-valeurs,
  &#nos-services,
  &#nos-references, {
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      // default opacity layer style
      background-color: $color-white-01;
      opacity: 0.9;
    }

    &.dark {
      &::before {
        background-color: $color-blue-dark-02;
        opacity: 0.6;
      }
    }

    .content-container {
      /* position: relative;
      background-color: rgba(255, 255, 255, 0.9);
      padding: 3rem; */
    }
  }

  @include media-breakpoint-up(sm) {
    min-height: 100vh;
  }

  /* .scroll-hint {
    position: absolute;
    bottom: 3%;
    width: 100%;
    text-align: center;
  } */

  // we need the home section bg picture to focus on what's interesting at all times
  &#home {
    height: 100vh;
    background-position: top 30% left 0;

    @include media-breakpoint-down(sm) {
      background-position: top 50% left -70px;
    }

    // reducing home content box
    $content-container-home-max-widths: (
      sm: 540px,
      md: 600px,
      lg: 820px,
      xl: 980px
    );

    > .container,
    .content-container.container {
      @include make-container-max-widths($content-container-home-max-widths);
    }
  }

  &#nos-valeurs {
    background-position: top;
  }

  &#contact {
    min-height: 91vh;
  }

  /** Color themes */

  &.light {
    background-color: $color-blue-light-02;
  }

  &.dark {
    background-color: $color-blue-dark-02;
    color: $color-gray-light-01;

    a {
      color: $color-gray-light-02;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $color-blue-light-01;
    }

    h4.subtitle {
      color: $color-blue-dark-01;
    }

    p,
    ul {
      color: $color-gray-light-01;
    }

    .nav .item > a {
      color: $color-blue-dark-05;
    }
  }
}
